.logo{
    /* font-family: "Whisper", cursive;
    font-weight: 400; */
    font-family: "Creepster", system-ui;
  font-weight: 400;
}

.sub-titles{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
}

.texts{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}